<a href="https://colab.research.google.com/github/kmahatma/7-Zip-zstd/blob/master/kag_melbourne_house_RF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Random Forest
import pandas as pd

melbourne_file_path = 'sample_data/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
# Filter rows with missing values
melbourne_data = melbourne_data.dropna(axis=0)
# Choose target and features
y = melbourne_data.Price
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features]

In [ ]:
X.describe()

             Rooms     Bathroom  ...    Lattitude   Longtitude
count  6196.000000  6196.000000  ...  6196.000000  6196.000000
mean      2.931407     1.576340  ...   -37.807904   144.990201
std       0.971079     0.711362  ...     0.075850     0.099165
min       1.000000     1.000000  ...   -38.164920   144.542370
25%       2.000000     1.000000  ...   -37.855438   144.926198
50%       3.000000     1.000000  ...   -37.802250   144.995800
75%       4.000000     2.000000  ...   -37.758200   145.052700
max       8.000000     8.000000  ...   -37.457090   145.526350

[8 rows x 7 columns]

In [ ]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y,random_state = 0)

In [ ]:
#build a random forest model similarly to how we built a decision tree in scikit-learn

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)

In [ ]:
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

191669.7536453626